<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madhaviruwandika.teacher_assistant">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Student_and_ReporterActivity.StudentActivity"
            android:label="Add Student"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.Student.StudentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.AddClass"
            android:label="Add Class"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.Util.addClass" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.Add_ExtraClass"
            android:label="@string/title_activity_add__extra_class"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.Util.add_ExtraClass" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SyllabusTrackerActivity.AddSylActivity"
            android:label="@string/title_activity_add_syl"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".Activity.SyllabusTrackerActivity.AddSylActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Util.ClassDataActivity"
            android:label="@string/title_activity_class_data"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.Util.ClassDataActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.parentCommunicatorActivity.SendMessageActivity"
            android:label="@string/title_activity_send_message"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.parentCommunicatorActivity.SendMessageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Student_and_ReporterActivity.StudentProgressActivity"
            android:label="@string/title_activity_student_progress"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.StudentActivity.StudentProgressActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SyllabusTrackerActivity.MyProgressActivity"
            android:label="@string/title_activity_my_progress"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.SyllabusTrackerActivity.MyProgressActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SyllabusTrackerActivity.MyWorkActivity"
            android:label="@string/title_activity_my_work"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.SyllabusTrackerActivity.MyWorkActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.TodaysClassActivity"
            android:label="@string/title_activity_todays_class"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.classActivity.TodaysClassActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Student_and_ReporterActivity.PerformanceReportActivity"
            android:label="@string/title_activity_performance_report"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.StudentActivity.PerformanceReportActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Student_and_ReporterActivity.AddPerformanceActivity"
            android:label="@string/title_activity_add_performance"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.StudentActivity.AddPerformanceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Student_and_ReporterActivity.SeePerfomanceActivity"
            android:label="@string/title_activity_see_perfomance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.StudentActivity.SeePerfomanceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.parentCommunicatorActivity.SetEmailAccountActivity"
            android:label="@string/title_activity_set_email_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.parentCommunicatorActivity.SetSMSConnectionActivity"
            android:label="@string/title_activity_set_smsconnection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.Util.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.Util.SettingsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SyllabusTrackerActivity.SyllabusActivity"
            android:label="@string/title_activity_syllabus"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.SyllabusTrackerActivity.ViewSylActivity"
            android:label="@string/title_activity_view_syl"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".Activity.SyllabusTrackerActivity.ViewSylActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.parentCommunicatorActivity.SendSMSActivity"
            android:label="@string/title_activity_send_sms"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.parentCommunicatorActivity.SendSMSActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.parentCommunicatorActivity.SendEmailActivity"
            android:label="@string/title_activity_send_email"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.parentCommunicatorActivity.SendEmailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.AddExamRecordsActivity"
            android:label="@string/title_activity_add_exam_records"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.classActivity.AddExamRecordsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.UpdateClassDActivity"
            android:label="@string/title_activity_update_class_d"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.classActivity.UpdateClassDActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Student_and_ReporterActivity.SeeOverallClassPerfomanceActivity"
            android:label="@string/title_activity_see_overall_class_perfomance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.StudentActivity.SeeOverallClassPerfomanceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.MarkAttendenceActivity"
            android:label="@string/title_activity_mark_attendence"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.classActivity.MarkAttendenceActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.AddPaymentActivity"
            android:label="@string/title_activity_add_payment"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.classActivity.AddPaymentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Student_and_ReporterActivity.UpdateStudentActivity"
            android:label="@string/title_activity_update_student"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.Student_and_ReporterActivity.UpdateStudentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Util.MyProfileActivity"
            android:label="@string/title_activity_my_profile"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.Util.MyProfileActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.pdfActivity"
            android:label="@string/title_activity_pdf"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.pdfActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.ViewExtraClassActivity"
            android:label="@string/title_activity_view_extra_class"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.classActivity.ViewExtraClassActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.DeleteClassActivity"
            android:label="@string/title_activity_delete_class"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.classActivity.DeleteClassActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.DeleteStudentActivity"
            android:label="@string/title_activity_delete_student"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.Student_and_ReporterActivity.StudentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
