<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.madhaviruwandika.teacher_assistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.StudentActivity.StudentActivity"
            android:label="Add Student"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.Student.StudentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.AddClass"
            android:label="Add Class"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.Util.addClass" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.Add_ExtraClass"
            android:label="@string/title_activity_add__extra_class"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.Util.add_ExtraClass" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SyllabusTrackerActivity.AddSylActivity"
            android:label="@string/title_activity_add_syl"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name=".Activity.SyllabusTrackerActivity.AddSylActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Util.ClassDataActivity"
            android:label="@string/title_activity_class_data"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.Util.ClassDataActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.parentCommunicatorActivity.SendMessageActivity"
            android:label="@string/title_activity_send_message"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.parentCommunicatorActivity.SendMessageActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.StudentActivity.StudentProgressActivity"
            android:label="@string/title_activity_student_progress"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.StudentActivity.StudentProgressActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SyllabusTrackerActivity.MyProgressActivity"
            android:label="@string/title_activity_my_progress"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.SyllabusTrackerActivity.MyProgressActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SyllabusTrackerActivity.MyWorkActivity"
            android:label="@string/title_activity_my_work"
            android:theme="@style/AppTheme.NoActionBar" >

            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.SyllabusTrackerActivity.MyWorkActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>



        <activity
            android:name=".Activity.classActivity.TodaysClassActivity"
            android:label="@string/title_activity_todays_class"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.classActivity.TodaysClassActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.classActivity.manegeClassActivity"
            android:label="@string/title_activity_manege_class"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="com.example.madhaviruwandika.teacher_assistant.Activity.classActivity.manegeClassActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>
    </application>

</manifest>
